@model PhoneBook.Models.Contact

<div class="text-center">
    <h1>Контакт <i>@Model.FirstName @Model.MiddleName @Model.LastName</i>  успешно сохранен!</h1>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Все контакты</a>.
</div>