@model Contact

<h5 class="bg-primary text-white text-center m-2 p-2">Данные контакта</h5>
<div class="container">
    <div class="row align-items-center">
        <div class="col">
            <partial name="_ContactCard" model="@Model" />
        </div>
    </div>
</div>
