@model PhoneBook.Models.Contact

<div class="text-center">
    <h1>Контакт успешно удален!</h1>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Вернуться ко всем контактам</a>.
</div>