@model PhoneBook.Models.Contact
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Контакт удален!</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        <h1>Контакт успешно удален!</h1>
    <a asp-action="Index" class="btn btn-primary">Вернуться ко всем контактам</a>.
    </div> 
</body>
</html>